<%-include("includes/head.ejs") %>

<body>
    <h1 class="head">Add Message :</h1>
    <form method="POST" action="/addMessage">
        <input type="text" name="from" placeholder="From..."> <br/><br />
        <input type="text" name="to" placeholder="To..."><br /><br />
        <textarea cols="40" rows="10" name="msg" placeholder="Enter your Message"></textarea><br /><br />
        <button>Submit</button>
    </form>
</body>

</html>