button{
    cursor: pointer;
}

.mainBox{
    margin: 20px 0px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
}

.box{
   margin: 10px 0px;
    padding: 8px 14px;
    background-color: #4e4e4e;
    color: white;
}

.buttons{
    display: flex;
    column-gap: 15px;
}